/* Universal */
body {
    font-family: 'Roboto Mono', monospace;
}

html {
    font-size: 18px;
}

h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    color: grey;
}

section {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    border: 1px solid yellow;
}

/* Header */
h1 {
    font-family: 'Rampart One', cursive;
}

header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid grey;
    position: fixed;
    z-index: 5;
    top: 0;
    min-width: 100%;
}

li {
    display: inline;
    margin: 5px;
}

/* Ends Header */
/* Starts Main */
main {
    margin-top: 0;
    padding-top: 15%;
}
/* Starts About me */


#info {
    display: flex;
    justify-content: space-between;
}

#me {
    width: 5rem;
    border-radius: 50%;
}

#secret {
    display: none;
}

#button {
    text-align: center;
    border: 1px solid grey;
    
}

#button:hover {
    border: 2px solid yellow;
}

/* Ends About me */
/* Starts Projects */
#imgs {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
}

.img {
    width: 25rem;
    margin: 2rem;
}
/* Ends Projects */
/* Starts Skills */
i {
    margin: 3%;
}
/* Ends Skills */
/* Ends Main */
/* Footer */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

